.fotoPrincipal {
    align-items : center;
    display : flex;
    top : 50px;
    min-height : 75vh;
    height : 75vh;
    position : relative;
    text-align : center;
    color : #FFF;
    background :  #146188;
    background-image : url(../img/sobre-principal.jpg);
    background-size : cover;
    background-attachment: fixed;
    background-repeat : no-repeat;
    background-position : center;
}
.fotoPrincipal p {
    margin-left : 50px;
    margin-right: 50px;
}

#galeriaFotos {
    padding-top: 100px;
}

.listaFotos {
    display: flex;
}
.listaFotos img {
    height: 50vh;
    width : 66vh;
}
